:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #ffffff99;
  --accent-color: #2196f3;
  --modal-btn-color-main: #188ce8;
  --modal-btn-color-portfolio: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--secondary-text-color-theme-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    display: block;
    position: relative;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_current {
    color: var(--accent-color);
  }
  .menu__link.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -1px;
    transition: background-color var(--transition-dur-and-func);
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .contacts__phone,
.contacts__mail {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    display: flex;
    justify-content: center;
    transition: color var(--transition-dur-and-func);
  }
  .contacts__mail:hover,
.contacts__mail:focus,
.contacts__phone:hover,
.contacts__phone:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    align-self: center;
    fill: currentColor;
    margin-right: 10px;
    order: -1;
  }
  .contacts__icon-mail {
    width: 14px;
    height: 10px;
  }
  .contacts__icon-phone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
  .contacts__phone,
.contacts__mail {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
  }
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
  .contacts__icon-phone {
    width: 10px;
    height: 16px;
  }
  .contacts__mail {
    margin-right: 30px;
  }
  .contacts__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func), transform var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    transition: fill var(--transition-dur-and-func);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__item {
    display: block;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
  }
  .mobile-menu__link_current {
    color: var(--accent-color);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    border-bottom: 4px solid var(--accent-color);
  }
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contacts__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
  }
  .mobile-social {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .mobile-social__item {
    position: relative;
  }
  .mobile-social__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
  }
  .mobile-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
}
.modal-btn {
  min-width: 200px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  border: none;
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--modal-btn-color-main);
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
}

.modal-btn-portfolio {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  background: var(--modal-btn-color-portfolio);
  border-radius: 4px;
  display: block;
  padding: 6px 22px;
  margin: 0 auto;
  border: none;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
  flex-basis: calc((100% - 32px) / 5);
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus,
.button-current {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.menu-button {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    justify-content: center;
  }
}
.button-current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-hover-focus:hover,
.btn-hover-focus:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}
.social-links-footer {
  display: block;
}

@media screen and (max-width: 1199px) {
  .social-links-footer {
    margin-bottom: 60px;
  }
}
.social-footer-wrap {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.social-list-footer__link:hover, .social-list-footer__link:focus {
  background-color: var(--accent-color);
}

.social-list-footer__icon {
  fill: #ffffff;
}
.social-list-footer__link:hover .social-list-footer__icon, .social-list-footer__link:focus .social-list-footer__icon {
  fill: #ffffff;
}

.sign-mail-content {
  display: flex;
  flex-direction: column;
}

.sign-mail-content__sign-mail {
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.sign-mail-content__form {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 360px;
  height: 50px;
  padding-left: 16px;
  color: var(--modal-btn-color-portfolio);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.sign-mail-content__form:focus {
  border-color: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-mail-content__form {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .sign-modal-form {
    margin-left: auto;
    margin-right: auto;
  }
  .sign-mail-content__sign-mail {
    margin-left: auto;
    margin-right: auto;
  }
  .sign-mail-content__form {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .sign-modal-form {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    padding-left: 93px;
  }
}
.sign-form-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  padding: 10px 29px;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-text-color-theme-dark);
  transition: background-color var(--transition-dur-and-func);
}

.sign-form-button__icon {
  margin-left: 0px;
}

@media screen and (max-width: 1199px) {
  .sign-form-button {
    margin-left: auto;
    margin-right: auto;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow var(--transition-dur-and-func), transform var(--transition-dur-and-func);
  padding: 40px;
}

.modal-close-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--accent-color);
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
@media screen and (max-height: 570px) {
  .modal {
    top: 20px;
    transform: translate(-50%, 0) scale(1);
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 12px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-descr {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #000000;
  transition: border-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal-form-check-descr {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  margin-bottom: 30px;
}
.modal-form-check-descr::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color-theme-light);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  margin-right: 9px;
  margin-left: 12px;
}
.modal-form-check:checked + .modal-form-check-descr::before {
  background-color: var(--accent-color);
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}
.modal-form-check:focus + .modal-form-check-descr::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-check-descr-blue {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  line-height: 1.15;
}

.modal-form-submit {
  display: block;
  align-self: center;
  min-width: 200px;
  color: var(--primary-text-color-theme-dark);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 4px;
  padding: 10px 55px;
  margin: 0 auto;
  border: none;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--modal-btn-color-main);
  color: var(--primary-text-color-theme-dark);
}

@media screen and (min-width: 1200px) {
  .modal-form-check-descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-black {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    border-bottom: 1px solid #ececec;
    color: #ececec;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
  .page-header {
    background-color: var(--primary-text-color-theme-dark);
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.page-hero {
  background-color: #2f303a;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .page-hero {
    padding: 118px 0;
  }
}
.overlay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/hero/hero-480/hero-480.jpg);
}

@media screen and (min-devise-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/hero/hero-480/hero-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 1199px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/hero/hero-768.jpg);
  }
}
@media screen and (min-devise-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/hero/hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/hero/hero-1600.jpg);
  }
}
@media screen and (min-devise-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/hero/hero-1600@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .main-title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
}
.page-advantages {
  padding-bottom: 0;
}

.title-advantage {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 10px;
}

.description-advantage {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.advantages-list-icon {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu-advantage:not(:last-child) {
    margin-bottom: 30px;
  }
  .title-advantage {
    text-align: center;
  }
  .advantages-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .menu-advantage {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
  }
  .advantages-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .menu-advantage {
    flex-basis: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
  }
  .advantages-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .page-our-work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .page-our-work {
    background-color: var(--primary-text-color-theme-dark);
  }
  .list-our-work {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .image-work {
    position: relative;
  }
  .overlay-our-work {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .overlay-description {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
  }
}
.employees-section {
  background-color: #f5f4fa;
}

.employees-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
  background-color: var(--primary-text-color-theme-dark);
  width: 100%;
}

.employees-card-content-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

.employees-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 10px;
}

.employees-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 16px;
}

.employees-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.employees-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-text-color-theme-dark);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.employees-social-link:hover, .employees-social-link:focus {
  background-color: var(--accent-color);
}

.employees-social-icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.employees-social-link:hover .employees-social-icon, .employees-social-link:focus .employees-social-icon {
  fill: var(--primary-text-color-theme-dark);
}

@media screen and (max-width: 767px) {
  .employees-card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .page-employees-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .employees-card {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-employees-container {
    flex-wrap: nowrap;
  }
  .employees-card-content-wrapper {
    padding: 30px;
  }
}
.list-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.image-client {
  flex-basis: calc((100% - 30px) / 2);
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.clients-list-link:hover, .clients-list-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .image-client {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .image-client {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--primary-text-color-theme-dark);
}

.location,
.contact-mail-footer,
.contact-phone-number-footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.contact-mail-footer,
.contact-phone-number-footer {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer__container {
    text-align: center;
  }
  .address-footer-wrap {
    margin-bottom: 60px;
  }
  .page-footer__logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .location,
.contact-mail-footer {
    display: block;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
  .address-footer-wrap {
    margin-right: 70px;
  }
  .page-footer__logo {
    display: block;
    margin-bottom: 20px;
  }
  .location,
.contact-mail-footer {
    display: block;
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 768px) {
  .projects-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .projects-photo {
    padding-top: 40px;
  }
  .menu-projects:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-projects {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
  }
  .menu-projects-description {
    display: flex;
    flex-direction: column;
  }
  .project-card-content-wrapper {
    flex-grow: 1;
    width: 354px;
  }
}
@media screen and (max-width: 1199px) {
  .projects-photo {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-photo {
    padding-top: 50px;
  }
  .menu-projects {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.overlay-portfolio-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow-y: scroll;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.menu-projects-description:hover .overlay-portfolio-content, .menu-projects-description:focus .overlay-portfolio-content {
  transform: translate(0, 0);
}

.menu-projects-hover:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.menu-projects-description {
  display: block;
  text-decoration: none;
}

.img-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  min-width: 322px;
}

.project-card-content-wrapper {
  padding: 20px 23px;
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
}

.description-project {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--secondary-text-color-theme-light);
}

.overlay-portfolio {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */