.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-black {
  color: #000000;
}
.page-header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .page-header {
    background-color: var(--primary-text-color-theme-dark);
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
