.section-title {
  @include font(28px, 700, 33px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    @include font(36px, 700, 42px);
    margin-bottom: 50px;
  }
}
