.social-links-footer {
  display: block;
}
@media screen and (max-width: 1199px) {
  .social-links-footer {
    margin-bottom: 60px;
  }
}
.social-footer-wrap {
  font-family: var(--primary-font);
  @include font();
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func),
    fill var(--transition-dur-and-func);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list-footer__icon {
  fill: #ffffff;
  .social-list-footer__link:hover &,
  .social-list-footer__link:focus & {
    fill: #ffffff;
  }
}
