:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #ffffff99;
  --accent-color: #2196f3;
  --modal-btn-color-main: #188ce8;
  --modal-btn-color-portfolio: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
